ControlMaster auto
ControlPath /tmp/ssh_mux_%h_%p_%r
ControlPersist 10h

Host home
    HostName 192.168.1.101
    User feng
    Port 22
    ForwardX11 yes
    ForwardX11Trusted yes

Host vpn
   HostName weibord.com
   User feng
   Port 1000
   Compression yes

Host dev
     HostName 192.168.1.251
     User feng
     ForwardX11 yes
     ForwardX11Trusted yes

     # digital ocean
Host fetcher1
     # HostName 107.170.44.18
     # nyc2
     HostName 107.170.95.102
     User root
     # Compression yes

     # digital ocean
Host fetcher2
     # HostName 128.199.216.59
     HostName 162.243.141.18
     User root
     # Compression yes

Host fetcher3
    HostName 192.241.205.146
    User root

Host prod1
     # aliyun
     HostName 115.28.142.231
     User work
     Compression yes
     # Compression yes


Host fetcher4
     # aliyun
     HostName 115.28.142.231
     User root
     # Compression yes

Host fetcher5
     # aliyun
     HostName 114.215.108.185
     User root

Host fetcher6
     # aliyun
     HostName 115.28.142.231
     User root


     # digital ocean
Host fetcher3
     HostName 128.199.212.167
     User root
     # Compression yes


Host dev03
     HostName 192.168.1.13
     User work
     ForwardX11Trusted yes
     ForwardX11 yes

Host dev01
     HostName 119.57.160.22
     Port 9292
     User work
     # ForwardX11Trusted yes
     # ForwardX11 yes

Host dev02
     HostName 192.168.1.12
     User work
     ForwardX11Trusted yes
     ForwardX11 yes