<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>Enabled</key>
    <true/>
    <key>UserName</key>
    <string>feng</string>
    <key>Label</key>
    <string>me.shenfeng.tmpfs</string>
    <key>Program</key>
    <string>/Users/feng/dotfiles/osx/tmpfs</string>
  </dict>
</plist>
